<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Binstagram</title>
</head>
<body>
  <a href="/"><h1>Binstagram</h1></a>
  <p>Like Instagram but for bins.</p>
  <a href="/upload">Upload your bin</a>
</body>
</html>