<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Binstagram - Upload</title>
</head>
<body>
  <a href="/"><h1>Binstagram</h1></a>
  <h2>Upload your bin</h2>
  <form action="/bins" method="POST" enctype="multipart/form-data">
    <input type="file" name="picture" id="picture">
    <input type="submit" value="Upload">
  </form>
</body>
</html>